.wrapper {
  width: 1200px;
  margin: auto;
  padding: 0px 0px;
}
div.header {
  background-image: url('../img/banner.jpg');
  width: 100%;
  height: 170px;
  color: white;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
}
h1.htext {
  padding: 50px 0px;
  margin: 0px;
  font-size: 45px;
  font-family: sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.sidebar {
  float: left;
  background-color: #ccc;
  width: 358px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

.main {
  width: 800px;
  float: right;
}

.one {
  width: 33%;
  float: left;
}

.two {
  width: 33%;
  float: left;
}

.three {
  width: 33%;
  float: left;
}

img {
  max-width: 266px;
  padding: 1px;
}
